@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000814;
}   

.modal-meus-dados{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/* DADOS LOGADOS */
#nomeLogado{
    color: #fff;
}
#senhaLogado{
    color: #fff;
    margin-bottom: 8px;
}
.meu-plano-atual{
    color: #fff;
    font-family: Poppins;
    font-weight: lighter;
}

/* MODAL MEUS DADOS */
.modal-meus-dados{
    background-color: rgba(182,	180, 180, 0.3);
    width: 750px;
    height: 450px;
    border-radius: 10px;
    margin-top: 120px;
    margin-bottom: 120px;
}
.imc-container{
    width: 90%;
    margin: 0 auto;
}
.imc-peso{
    margin-bottom: 10px;
    margin-top: 10px;
}
.imc-altura{
    margin-bottom: 10px;
}
.imcUsuario{
   color: #fff;
}
.labelEpVazio{
    display: flex;
    align-items: center;
}
.titulo-imc-conteudo{
    color: #fff;
    font-size: 15px;
    font-family: Poppins;
}
.meusDados{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #B6B4B4;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    align-items: center;
}
.calculo-imc{
    margin-bottom: 60px;
}
.editar-meus-dados{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 25%;
}
.titulo-meus-dados{
    color: #fff;
    font-size: 15px;
    margin-right: 15px;
    font-family: Poppins;
}
.editar-meus-dados{
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.editar-meus-dados:hover{
    transform: scale(1.1);
}
.exemplo{
   margin-top: 15px;
}
.buttonSair{
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    width: 92%;
}
.content-peso-altura{
    color: #FFC300;
    font-size: 15px;
    font-family: Poppins;
}
.info-usuario{
    color: #fff;
    font-size: 15px;
    font-family: Poppins;
}

/* EDITANDO DADOS */

.calcular-imc{
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: Poppins;
    opacity: 0.6;
}
.calcular-imc:hover{
 opacity: 1;
}
.alterar-senha{
    font-family: Poppins;
    font-size: 15px;
    font-weight: lighter;
    padding-top: 10px;
    margin-top: 0;
}
.input-alterar-senha{
    border-radius: 5px;
    border: 1px solid black;
}
.modal-editar-dados{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.modal-editar-dados-content{
    width: 350px;
    height: 200px;
    padding: 0;
    margin: 0 auto;
    margin-top: 80px;
    box-shadow: 0px 3px 20px #00000029;
    border-radius: 10px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.button-editar-senha{
    padding-top: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 50px;
    margin: 0 auto;
}
.excluir{
    color: red;
}
/* IMC */

.dv-imc{
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
.modal-imc{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.modal-imc-content{
    position: fixed;
    top: 20%;
    left: 40%;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-imc{
    border-radius: 5px;
    border: 1px solid black;
}
.dv-peso-imc{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-calculo-imc{
    font-size: 20px;
    font-family: Poppins;
    text-align: center;
    height: 20%;
    margin: 0;
}
.button-imc{
    height: 20%;
    display: flex;
    justify-content: center;
}
.button-calculo{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.button-calculo:hover{
    font-size: 15px;
}
.erroCalculo{
    color: red;
    height: 10%;
    font-size: 11px;
    font-family: Poppins;
    display: flex;
    justify-content: center;
}
.texto-calculo{
    
    padding: 5px;
}