@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* MENU HOME  */
.menu-home-div{
    background-color: #000814;
    width: 100%;
    position: fixed;
    z-index: 999;
}
.menu-home-container{
    width: 675px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.logo-content{
    margin-left: 30px;
}
.menu-content-home {
    display: flex;
    height: 45px;
    margin: 0;
    list-style: none;
}
.conteudo-menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #D9D9D9;
    font-size: 20px;
    font-weight: medium;
    font-family: Poppins;
    text-decoration: none;
    cursor: pointer; 
    height: 100%;
}
.conteudo-menu:hover{
    border-bottom: 2px solid #FFC300;
    background-color: transparent;
    color: #D9D9D9;
}
*, ::after, ::before{
    box-sizing: inherit!important;
}

/* AVATAR LOGIN  */
.avatar-home{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 100%;
}
.avatar-home:hover{
    border-bottom: 2px solid #FFC300;
}

/* SLIDER */
.active {
    background-color: #FFC300!important;
}
.carousel-inner{
    height: 100vh!important;
}
.carousel{
    width:100% !important;
    height:100% !important;
}
.carousel-indicators button{
    border-radius: 50%!important;
    height: 10px!important;
    width: 10px!important;
    margin-left: 20px!important;
}
.carousel-control-prev{
    width: 5%!important;
}
.carousel-control-next{
    width: 5%!important;
}
.carousel-item{
    height: 100%!important;
}
.w-100{
    height: 100%!important;

}

/* SOBRE NOS*/

.titulo-sobre-nos{
    color: #003566;
    font-size: 45px;
    font-family: Poppins;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}
.imagem-sobre-nos{
    width: 100%;
    height: 550px;
}
#sobre-nos{
    margin-bottom: 100px;
    margin-top: 150px;
}
.plano-dv-meusdados{
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    width: 90%;
    align-items: center;
    margin-bottom: 20px;
}

/* PLANOS */
.titulo-planos{
    color: #003566;
    font-size: 45px;
    font-family: Poppins;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}
.plano-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 980px;
    margin: 0 auto;
}
.plano-basic-content{
    width: 285px;
    height: 400px;
    background-color: #001D3D;
    border-top: 10px solid #ADE8F4;
}
.plano-silver-content{
    width: 285px;
    height: 400px;
    background-color: #001D3D;
    border-top: 10px solid #B6B4B4;
}
.plano-gold-content{
    width: 285px;
    height: 400px;
    background-color: #001D3D;
    border-top: 10px solid #FFC300;
}
.titulo-dos-planos{
    font-size: 35px;
    color: #D9D9D9;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-family: Poppins;
}
.descricao-plano{
    color: #D9D9D9;
    font-size: 17px;
    font-family: Poppins;
    font-weight: lighter;
    text-align: left;
    text-decoration: none;
}
.check{
    border: none;
    color: green;
}
.preco-basic-plano{
    font-size: 20px;
    font-family: Poppins;
    font-weight: bold;
    color: #ADE8F4;
    text-align: center;
    margin-top: 30px;
}
.preco-silver-plano{
    font-size: 20px;
    font-family: Poppins;
    font-weight: bold;
    color: #B6B4B4;
    text-align: center;
    margin-top: 30px;
}
.preco-gold-plano{
    font-size: 20px;
    font-family: Poppins;
    font-weight: bold;
    color: #FFC300;
    text-align: center;
    margin-top: 30px;
}
.titulo-planos{
    color: #003566;
 }

 .conteudo-plano{
    height: 40%;
    margin-left:5px;
}
.comprar-plano-content{
    display: flex;
    justify-content: center;
    font-size: 17px;
    margin-top: 20px;
}
.comprar-plano{
    border-radius: 5px;
    border: none;
    background-color: #d9d9d9;
}

/* MODAL PLANOS */
.modal-planos{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.modal-planos-content{
    width: 350px;
    height: 200px;
    padding: 0;
    margin: 0 auto;
    margin-top: 80px;
    box-shadow: 0px 3px 20px #00000029;
    border-radius: 10px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.titulo-modal-planos{
    color: #000814;
    font-size: 20px;
    font-family: Poppins;
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
}
.button-plano{
    width: 180px;
    height: 30px;
    background-color: #003566;
    border: none;
    color: #D9D9D9;
    cursor: pointer;
}
.button-planos-content{
    display: flex;
    justify-content: center;
    position: relative;
    top: 30%;
}
.input-termos{
    position: relative;
    top: 10%;
}
/* SOBRE NOS */
.textoSobreNos{
    font-size: 15px ;
	width: 20%;
	max-width: 50%;
	height: 28%;
    font-weight: 1;
    text-align: center;
    margin-left: 55%;
    margin-bottom: 50px;
    margin-top: 20px;
}
.titulo-sobre-nos{
    color: #003566;
    font-size: 45px;
    font-family: Poppins;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
}
 

/* FOOTER */
.rodape-final{
    background-color: #001D3D;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.copyright{
    font-size: 10px;
    font-weight: lighter;
    font-family: Poppins;
    color: #FFF;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.icones{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    align-items: center;
}
.linkedin-icone{
    background-color: transparent;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}
.instagram-icone{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.youtube-icone{
    background-color: transparent;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}
.newsletter{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    align-items: center;
}
.button-footer{
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    font-family: Poppins;
    font-weight: bold;
    color: #D9D9D9;
    margin-top: 25px;
    margin-bottom: 80px;
    cursor: pointer;
    opacity: 1;
}
.button-footer:hover{
    font-size: 16px;
    opacity: 0.5;
}
.input-email-footer{
    background-color: #003566;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    color: gray;
    width: 100%;
    outline: none;
    padding-left: 10px;
    font-weight: lighter;
    font-family: Poppins;
}
.titulo-newsletter{
    font-size: 25px;
    font-family: Poppins;
    font-weight: bold;
    color: #D9D9D9;
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;
}
.input-email-footer::placeholder{
    opacity: 0.5;
}

/* <Span> de Erro */
.erro{
    color: red;
    font-size: 11px;
    margin-top: 10px;
}


