@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


.body-cadastro{
    background-color: #000814;
}

/* TELA DE CADASTRO */
.cadastro {
    display: flex;
    justify-content: center;
}
.cadastro-content{
    box-shadow: 0px 3px 20px #00000029;
    border-radius: 12px;
    background-color: rgb(182,180,180, 0.2);
    width: 455px;
    height: 493px;
    text-align: center;
    font-size: 30px;
    color: #D9D9D9;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Poppins;
    margin-top: 30px;
}
.titulo-modal{
    height: 10%;
    width: 100%;
    margin-top: 10px;
}
.conteudo-titulo-modal{
    margin: 0;
}
.dados-cadastro{
    height: 70%;
}
.modal-cadastro-dv{
    height: 20%;
}
.erro-cadastro{
    color: red;
    font-size: 11px;
    font-family: Poppins;
    text-align: left;
    display: flex;
    margin-left: 20px;
}
.input{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #FFC300;
    width: 90%;
    color: #AFACAC;
    outline: none;
    font-size: 15px;
    font-family: Poppins;
    font-weight: lighter;
}
.input :focus{
    border: none;
}
.titulo{
    font-size: 17px;
    font-weight: lighter;
    font-family: Poppins;
    color: #D9D9D9;
    display: flex;
    margin-left: 25px;
    margin-bottom: 0;
}
.cadastro-button-content{
    display: flex;
    flex-direction: column;
}
.button-cadastro{
    background-color: transparent;
    border: none;
    color: #D9D9D9;
    font-size: 18px;
    font-weight: lighter;
    font-family: Poppins;
    cursor: pointer;
    margin-bottom: 15px;
  
}
.button-cadastro:hover{
    color: #ADE8F4;
}
.sou-cadastrado{
    background-color: transparent;
    border: none;
    color: #D9D9D9;
    font-size: 11px;
    font-family: Poppins;
    cursor: pointer;
    text-decoration: underline;
}

/* TELA DE LOGIN */
.modal-login{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 999;
}
.modal-login-content{
    margin-top: 80px;
    margin-left: 35%;
    box-shadow: 0px 3px 20px #00000029;
    background-color: #003566;
    width: 455px;
    height: 400px;
    padding: 0;
}
.container-titulo{
    height: 15%;
    display: flex;
    justify-content: center;

}
.container-meio{
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 30px
}
.titulo-login{
    margin-top: 25px;
    font-size: 30px;
    color: #D9D9D9;
    font-weight: bold;
    font-family: Poppins;
}
.container-footer{
    height: 35%;
}

.content-email-login{
    display: block;
    margin-left: 20px;
    align-items: center;
    height: 100px;
}
.content-email-login .subtitulo-tela-login{
    margin-top: 20px;
}
.content-senha-login{
    display: block;
    margin-left: 20px;
    align-items: center;
    height: 100px;
}
.subtitulo-tela-login{
    font-size: 17px;
    font-weight: lighter;
    font-family: Poppins;
    color: #fff;
    margin-right: 5px;
}
.input-senha-login{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #FFC300;
    outline: none;
    color: #fff;
    width: 70%;
}
.input-email-login{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #FFC300;
    outline: none;
    color: #fff;
    width: 70%;
    margin-top: 20px;
}
.input-login::placeholder{
    color: gray;
    opacity: 0.5;
}
.button-login{
    background-color: #ADE8F4;
    width: 150px;
    height: 40px;
    font-size: 17px;
    font-weight: lighter;
    font-family: Poppins;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.button-login-content{
    display: flex;
    justify-content: center;
    
}
.button-cadastre-content{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.button-cadastre{
    color: #D9D9D9;
    font-size: 15px;
    font-weight: lighter;
    font-family: Poppins;
    background-color: transparent;
    border: transparent;
    text-decoration: underline;
    cursor: pointer;

}
.button-cadastre:hover{
    color: #d9d9d9!important;
}
#erro{
   font-size: small;
   margin-left: 65px;
   color: red;

}

